.container {
  flex: 1;
  top: 50px;
}

.list {
  padding: 0;
  margin: 0;
}
.list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-inline-start: 15px;
  margin: 3px;
  border: 1px solid #ccc !important;
  border-radius: 16px;
}
